<ion-header>
  <ion-toolbar color="primary" style="paddin-top: 5px; padding-bottom: 5px;">
    <ion-button class="logout-btn" (click)="doLogout();"></ion-button>
    <ion-title style="margin-top: 19px;">Services</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="center-content">
    <ion-button (click)="onCurrentRequestsClick()" text-wrap class="ion-button" style="margin-bottom: 5%">
      <span style="line-height: 25px;">
        Demande(s) en cours <br> de traitement
      </span>
    </ion-button>
    <ion-button (click)="onNewDemandClick()" class="ion-button">Faire une nouvelle demande</ion-button>
  </div>
</ion-content>
