<ion-header>
  <ion-toolbar color="primary" class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button text="Retour"></ion-back-button>
    </ion-buttons>
    <ion-title>Que voulez-vous faire ?</ion-title>
    <ion-icon slot="end" name="power-outline" class="toolbar--logout" (click)="doLogout()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="center-content">
    <ion-button (click)="onCurrentRequestsClick()" text-wrap class="ion-button" style="margin-bottom: 5%">
      <span style="line-height: 25px;">
        Demande(s) en cours <br> de traitement
      </span>
    </ion-button>
    <ion-button (click)="onNewDemandClick()" class="ion-button">
    <span style="line-height: 25px;">
      Faire une <br> nouvelle demande
    </span>
    </ion-button>
  </div>
</ion-content>
