.toolbar--logout{
  height: 35px;
  width: 35px;
  margin: 10px 10px 10px 0;
}


ion-list{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.paid-color-back {
  background-color: #2ecc71a6;
}

.created-color-back {
  background-color: #9b59b678;
}

.accepted-color-back {
  background-color: #2980b963;
}

.delivered-color-back {
  background-color: #1abc9c99;
}

.txt-card-description {
  margin-left: 30px;
  width: 80%;
  margin-right: 15px;
  text-align: justify;
  color: #0c0c0c73;
}

.btn-to-paiement {
  color: #42d77d;
  --border-style: solid;
  --border-width: 1px;
  --border-radius: 20px;
  --background: #ffffff;
}

.center-content {
  background: #f2efea;
}