<ion-header>
  <ion-toolbar style="paddin-top: 5px; padding-bottom: 5px;">
    <ion-button class="logout-btn" (click)="doLogout();"></ion-button>
    <ion-title style="margin-top: 19px;">Demandes en cours</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list *ngFor="let aid of aids">
      <ion-card #aidElem [attr.data-aidUserPhone]="aid.aidUser.phone"  [ngClass]="{'created-color-back': aid.status === 0, 'accepted-color-back': aid.status === 1, 'delivered-color-back': aid.status === 2, 'paid-color-back': aid.status === 3}">

        <ion-card-header style="display: flex;justify-content: space-between;align-items: center;">
          <div style="color: black;text-decoration: underline;">{{aid.aidType | aidTitle}}</div>
          <div *ngIf="isPaymentNeeded(aid.status)">
            <ion-button (click)="goToPayment(aidElem)" class="btn-to-paiement">{{getStatusName(aid.status)}}</ion-button>
          </div>
          <div *ngIf="!isPaymentNeeded(aid.status)" style="text-align: center;font-style: italic;">
            {{getStatusName(aid.status)}}
          </div>
        </ion-card-header>

        <ion-card-content style="display: flex; flex-direction: row; align-items: center;">
          <div style="width: 60px;">
            <ion-img style="width: 100%" src="{{aid.aidType | aidIcon}}"></ion-img>
          </div>
          <div class="txt-card-description">
            {{aid.text}}
          </div>
        </ion-card-content>

      </ion-card>
  </ion-list>
</ion-content>
