<ion-header>
    <ion-toolbar color="primary" class="toolbar">
        <ion-buttons slot="start">
            <ion-back-button text="Retour"></ion-back-button>
        </ion-buttons>
        <ion-title>{{this.aidType | aidTitle}}</ion-title>
        <ion-icon slot="end" name="power-outline" class="toolbar--logout" (click)="doLogout()"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center-content">
  <ion-item class="notes" (click)="focusTextarea()">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea #textarea id="textarea" [(ngModel)]="aidText" autoGrow></ion-textarea>
    </ion-item>
    <ion-button (click)="onRecordingSelected();" class="ion-button" style="margin-bottom: 2%"><div style="width: 60px;">
      <!--<ion-img style="width: 100%; margin-left: -20px;" src="{{service | aidIcon}}"></ion-img>-->
      <ion-icon size="large" style="margin-left: -50px;" name="mic"></ion-icon>
    </div>Enregistrer sa voix</ion-button>
    <ion-button (click)="onValidateSelected()" class="ion-button">Valider la demande</ion-button>
  </div>
</ion-content>
