<ion-header>
    <ion-toolbar class="toolbar">
        <ion-title>Services</ion-title>
        <ion-icon name="power-outline" class="toolbar--logout" (click)="doLogout()"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center-content">
  <ion-item class="notes">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea [(ngModel)]="aidText" autoGrow></ion-textarea>
    </ion-item>
    <ion-button (click)="onRecordingSelected();" class="ion-button" style="margin-bottom: 2%">Enregistrer</ion-button>
    <ion-button (click)="onValidateSelected()" class="ion-button">Valider</ion-button>
  </div>
</ion-content>
