ion-input{
    background-color: white;
    text-align: center;
    max-height: 40px;
    max-width: 75%;
    margin-bottom: 5%;
    border : 2px solid rgb(15,15,64.1);
    border-radius: 5px;
  }
  
  .ion-button {
    max-width: 70%;
    min-width: 70%;
    border-radius: 5px;
    background-color: rgb(15,15,64.1);
    max-height: 15%;
    min-height: 15%;
  }

.toolbar--logout{
  float: right;
  height: 35px;
  width: 35px;
  margin: 10px 10px 10px 0;
}

  
  .center-content{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
 
 .notes {
    width: 70%; 
    height: 65%; 
    border: solid 2px rgba(128, 128, 128, 0.247); 
    margin-top: 24px; 
    margin-bottom: 15px; 

    --highlight-color-focused: none; 

    --border-color: transparent;
    }

