<ion-header>
  <ion-toolbar color="primary" class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button text="Retour"></ion-back-button>
    </ion-buttons>
    <ion-title>Paiement</ion-title>
    <ion-icon slot="end" name="power-outline" class="toolbar--logout" (click)="doLogout()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center-content">
      <ion-img [src]="photo"></ion-img>
      <ion-button (click)="onScanningSelected();" class="ion-button" style="margin-bottom: 5%">Scanner votre carte</ion-button>
  </div>
</ion-content>
