<ion-header>
  <ion-toolbar color="primary" class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button text="Retour"></ion-back-button>
    </ion-buttons>
    <ion-title>Preuve de paiement</ion-title>
    <ion-icon slot="end" name="power-outline" class="toolbar--logout" (click)="doLogout()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center-content">
    <ion-button (click)="loadFromGallery()">Charger depuis la gallerie</ion-button>
    <ion-button (click)="takePhoto()">Prendre une photo</ion-button>
    <ion-img *ngIf="photo !== ''" [src]="photo"></ion-img>
    <ion-button *ngIf="photo !== ''" (click)="dismiss()">Valider la photo</ion-button>
  </div>
</ion-content>
