.card--header {
  font-size: 0.8rem;
  color: black;
  font-weight: bold;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}

.header--title {
  font-size: 1rem;
  color: black;
  text-decoration: underline;
}

.card--content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}

.card--image {
  width: 100%;
}

.card--description {
  margin-left: 30px;
  width: 80%;
  margin-right: 15px;
  text-align: justify;
  color: #0c0c0c73;
}

.card--button {
  min-width: 20%;
  //height: 100%;
  font-size: 0.8rem;
  margin-top: -10px;
}

.no-data-title {
  color: #bdb3b3;
  margin: 50% 10px 0;
  text-align: center;
}

.toolbar--logout {
  height: 35px;
  width: 35px;
  margin: 10px 10px 10px 0;
}

.is-user {
  --background: #9cf299;
}

.center-content {
  background: #f2efea;
}

ion-content {
  --background: #f2efea;
}

ion-list {
  background: #f2efea;
}

.header--subtitle{
  font-style: italic;
}
