<ion-header>
    <ion-toolbar color="primary" class="toolbar">
        <ion-buttons slot="start">
            <ion-back-button text="Retour"></ion-back-button>
        </ion-buttons>
        <ion-title>Demande d'aides</ion-title>
        <ion-icon slot="end" name="power-outline" class="toolbar--logout" (click)="doLogout()"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content>
        <ion-select *ngIf="isSomeData" placeholder="Sélectionner votre type d'aide" [(ngModel)]="selectedAidType" (ionChange)="aidTypeChange()">
            <ion-select-option value="-1">Toutes les demandes</ion-select-option>
            <ion-select-option *ngFor="let type of aidTypes" value="{{type}}">{{type | aidTitle}}</ion-select-option>
    <!--        <ion-select-option value="10">Test </ion-select-option>-->

        </ion-select>
        <ion-list>
            <ion-card (click)="showDetails(aid)" *ngFor="let aid of displayedAids" class="card" [class.is-user]="aid.aidUser != null && aid.aidUser.username == connectedUser.username">

                <ion-card-header class="card--header">
                    <ion-card-title class="header--title">{{aid.aidType | aidTitle}}</ion-card-title>
                    <ion-card-subtitle class="header--subtitle ion-text-capitalize">Distance: {{aid.location.distance(this.location) | number:'1.1-1'}} km</ion-card-subtitle>
                </ion-card-header>

                <ion-card-content class="card--content">
                    <ion-img class="card--image" src="{{aid.aidType | aidIcon}}"></ion-img>
                    <p class="card--description">
                        {{aid.text}}
                    </p>
                </ion-card-content>

            </ion-card>

        <!--      <ion-item *ngFor="let aid of aids" class="item">-->
        <!--          <ion-chip outline class="item&#45;&#45;chip">-->
        <!--              {{aid.aidType | titlecase}}-->
        <!--          </ion-chip>-->
        <!--          <ion-label>-->
        <!--              <h2>{{aid.seniorUser.username}}</h2>-->
        <!--              <p>{{aid.text | textDescription:5}}</p>-->
        <!--          </ion-label>-->
        <!--          <ion-button (click)="takeAid(aid)" color="success" fill="outline" class="item&#45;&#45;button ion-text-wrap" slot="end">-->
        <!--              Prendre-->
        <!--              la course-->
        <!--          </ion-button>-->
        <!--      </ion-item>-->

        </ion-list>

        <ion-title *ngIf="!isSomeData" class="no-data-title">Aucune demande pour l'instant, <br> reviens plus tard ...</ion-title>
</ion-content>
