<ion-header>
  <ion-toolbar>
    <ion-title>Demande d'aides</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false">
      <ion-list>
          <ion-card *ngFor="let aid of aids">

              <ion-card-header>
                  {{aid.aidType | aidIcon}}
              </ion-card-header>

<!--              <ion-card-content style="display: flex; flex-direction: row; align-items: center;">-->
<!--                  <div style="width: 60px;">-->
<!--                      <ion-img style="width: 100%" src="{{request.photoUrl}}"></ion-img>-->
<!--                  </div>-->
<!--                  <div class="txt-card-description">-->
<!--                      {{request.description}}-->
<!--                  </div>-->
<!--                  <div style="text-align: center;">-->
<!--                      {{getStatusName(request.status)}}-->
<!--                  </div>-->
<!--              </ion-card-content>-->

          </ion-card>
<!--      <ion-item *ngFor="let aid of aids" class="item">-->
<!--          <ion-chip outline class="item&#45;&#45;chip">-->
<!--              {{aid.aidType | titlecase}}-->
<!--          </ion-chip>-->
<!--          <ion-label>-->
<!--              <h2>{{aid.seniorUser.username}}</h2>-->
<!--              <p>{{aid.text | textDescription:5}}</p>-->
<!--          </ion-label>-->
<!--          <ion-button (click)="takeAid(aid)" color="success" fill="outline" class="item&#45;&#45;button ion-text-wrap" slot="end">-->
<!--              Prendre-->
<!--              la course-->
<!--          </ion-button>-->
<!--      </ion-item>-->
  </ion-list>
</ion-content>
