ion-input{
  background-color : white;
  border-radius: 5px;
  text-align: center;
  max-height: 40px;
  max-width: 75%;
  margin-bottom: 5%;
  border : 2px solid rgb(15,15,64.1); 
}

ion-button{
  max-width: 60%;
  min-width: 45%;
  border-radius: 5px;
  background-color: rgb(15,15,64.1);
}

ion-toolbar{
  background-color: rgb(15,15,64.1);
}

.center-content{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #f2efea;
}
