ion-input{
  background-color : white;
  border-radius: 20px;
  text-align: center;
  max-height: 40px;
  max-width: 75%;
  margin-bottom: 5%;
}

ion-button{
  max-width: 60%;
  min-width: 45%;
  --border-radius: 20px;
  --background: #6370ff;
}

.center-content{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
