<ion-header>
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="userForm" class="center-content">
    <ion-input formControlName="username" [(ngModel)]="user.username" placeholder="Entrez votre nom d'utilisateur"></ion-input>
    <ion-input formControlName="phone" [(ngModel)]="user.phone" placeholder="Entrez votre numéro de téléphone" type="tel"></ion-input>
    <ion-button [disabled]="!userForm.valid" (click)="saveUser()">se connecter</ion-button>
  </form>
</ion-content>
