<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <ion-input (ionChange)="searchTelephoneNumber()" placeholder="nom d'utilisateur"></ion-input>
    <ion-input placeholder="numéro de téléphone"></ion-input>
    <ion-button (click)="saveTelephoneNumber(userTelephone, userUsername)">se connecter</ion-button>
  </div>
</ion-content>
