<ion-header>
  <ion-toolbar style="padding-top: 5px; padding-bottom: 5px;">
      <ion-button class="logout-btn" (click)="doLogout();"></ion-button>
    <ion-title style="margin-top: 19px;">Choisir votre service</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center-content">
    <ion-button (click)="onShoppingSelected();" class="ion-button" style="margin-bottom: 5%">Courses</ion-button>
    <ion-button (click)="onITSelected()" class="ion-button">Informatique</ion-button>
  </div>
</ion-content>
