<ion-header>
  <ion-toolbar color="primary" class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button text="Retour"></ion-back-button>
    </ion-buttons>
    <ion-title>Choisir votre service</ion-title>
    <ion-icon slot="end" name="power-outline" class="toolbar--logout" (click)="doLogout()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center-content">
    <ion-button *ngFor="let service of services" (click)="onSelect(service);" class="ion-button" style="margin-bottom: 5%">{{service | aidTitle}}</ion-button>
<!--    <ion-button (click)="onITSelected()" class="ion-button">Informatique</ion-button>-->
  </div>
</ion-content>
