<ion-header>
  <ion-toolbar color="primary" class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button text="Retour"></ion-back-button>
    </ion-buttons>
    <ion-title>Choisir votre service</ion-title>
    <ion-icon slot="end" name="power-outline" class="toolbar--logout" (click)="doLogout()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center-content">
    <ion-button *ngFor="let service of services" (click)="onSelect(service);" class="ion-button" style="margin-bottom: 5%">
      <div style="width: 60px; margin-right:15px">
        <ion-img style="width: 100%;" src="{{service | aidIcon}}"></ion-img>
      </div>
      {{service | aidTitle}}
    </ion-button>
<!--    <ion-button (click)="onITSelected()" class="ion-button">Informatique</ion-button>-->
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onInformationPressed()">
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>