ion-input{
  background-color: white;
  border-radius: 20px;
  text-align: center;
  max-height: 40px;
  max-width: 75%;
  margin-bottom: 5%;
}

ion-button {
  max-width: 70%;
  min-width: 70%;
  --border-radius: 10px;
  --background: #6370ff;
  max-height: 15%;
  min-height: 15%;
}
.center-content{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
