<ion-header>
  <ion-toolbar color="primary" class="toolbar">
    <ion-title>Choix de votre rôle</ion-title>
    <ion-icon name="power-outline" class="toolbar--logout" (click)="doLogout()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="center-content">
    <ion-button (click)="onSeniorSelected();" class="ion-button" style="margin-bottom: 5%">Demander de l'aide</ion-button>
    <ion-button (click)="onHelpSelected()" class="ion-button">Proposer son aide</ion-button>
  </div>
</ion-content>
